@font-face {
    font-family: 'icomoon';
    src:  url('/icons/icomoon.eot?2ybq1l');
    src:  url('/icons/icomoon.eot?2ybq1l#iefix') format('embedded-opentype'),
      url('/icons/icomoon.ttf?2ybq1l') format('truetype'),
      url('/icons/icomoon.woff?2ybq1l') format('woff'),
      url('/icons/icomoon.svg?2ybq1l#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"], ul.check-list li:before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-chevrons-down:before {
    content: "\e9e3";
  }
  .icon-minus:before {
    content: "\e9e4";
  }
  .icon-opensea-circle:before {
    content: "\e9e5";
  }
  .icon-plus:before {
    content: "\e9e6";
  }
  .icon-lock:before {
    content: "\e9df";
  }
  .icon-unlock:before {
    content: "\e9e0";
  }
  .icon-home:before {
    content: "\e9e1";
  }
  .icon-menu:before {
    content: "\e9e2";
  }
  .icon-wallet:before {
    content: "\e9dd";
  }
  .icon-x-icon:before {
    content: "\e9de";
  }
  .icon-wallet-connect:before {
    content: "\e9d7";
  }
  .icon-metamask:before {
    content: "\e9d8";
  }
  .icon-chevron-up:before {
    content: "\e9d9";
  }
  .icon-chevron-right:before {
    content: "\e9da";
  }
  .icon-chevron-left:before {
    content: "\e9db";
  }
  .icon-chevron-down:before {
    content: "\e9dc";
  }
  .icon-user:before {
    content: "\e9d6";
  }
  .icon-muted:before {
    content: "\e9c6";
  }
  .icon-calculator:before {
    content: "\e9c4";
  }
  .icon-bag:before {
    content: "\e9c5";
  }
  .icon-opensea:before {
    content: "\e9c7";
  }
  .icon-phone-support:before {
    content: "\e9c8";
  }
  .icon-piggy-bank:before {
    content: "\e9c9";
  }
  .icon-present:before {
    content: "\e9ca";
  }
  .icon-sale:before {
    content: "\e9cb";
  }
  .icon-search:before {
    content: "\e9cc";
  }
  .icon-trash:before {
    content: "\e9cd";
  }
  .icon-truck:before {
    content: "\e9ce";
  }
  .icon-waller:before {
    content: "\e9cf";
  }
  .icon-basket:before {
    content: "\e9d0";
  }
  .icon-box:before {
    content: "\e9d1";
  }
  .icon-cart:before {
    content: "\e9d2";
  }
  .icon-coffee:before {
    content: "\e9d3";
  }
  .icon-operator:before {
    content: "\e9d4";
  }
  .icon-store:before {
    content: "\e9d5";
  }
  .icon-balloons:before {
    content: "\e98f";
  }
  .icon-beer:before {
    content: "\e990";
  }
  .icon-boombox:before {
    content: "\e991";
  }
  .icon-cake:before {
    content: "\e992";
  }
  .icon-calendar:before {
    content: "\e993";
  }
  .icon-carnival-mask-1:before {
    content: "\e994";
  }
  .icon-carnival-mask-2:before {
    content: "\e995";
  }
  .icon-champagne-bottle-1:before {
    content: "\e996";
  }
  .icon-champagne-bottle-2:before {
    content: "\e997";
  }
  .icon-champagne-glasses-1:before {
    content: "\e998";
  }
  .icon-champagne-glasses-2:before {
    content: "\e999";
  }
  .icon-champagne:before {
    content: "\e99a";
  }
  .icon-checklist:before {
    content: "\e99b";
  }
  .icon-christmas-tree:before {
    content: "\e99c";
  }
  .icon-clock:before {
    content: "\e99d";
  }
  .icon-dancer-1:before {
    content: "\e99e";
  }
  .icon-dancer-2:before {
    content: "\e99f";
  }
  .icon-dancer-3:before {
    content: "\e9a0";
  }
  .icon-drink:before {
    content: "\e9a1";
  }
  .icon-electronic-clock-0000:before {
    content: "\e9a2";
  }
  .icon-electronic-clock-1200:before {
    content: "\e9a3";
  }
  .icon-exclamation-point:before {
    content: "\e9a4";
  }
  .icon-firecracker-1:before {
    content: "\e9a5";
  }
  .icon-firecracker-2:before {
    content: "\e9a6";
  }
  .icon-firecracker-3:before {
    content: "\e9a7";
  }
  .icon-firecracker-4:before {
    content: "\e9a8";
  }
  .icon-firework-cone:before {
    content: "\e9a9";
  }
  .icon-fireworks-1:before {
    content: "\e9aa";
  }
  .icon-fireworks-2:before {
    content: "\e9ab";
  }
  .icon-heart:before {
    content: "\e9ac";
  }
  .icon-kiss:before {
    content: "\e9ad";
  }
  .icon-microphone:before {
    content: "\e9ae";
  }
  .icon-mirrorball:before {
    content: "\e9af";
  }
  .icon-music:before {
    content: "\e9b0";
  }
  .icon-ornament-1:before {
    content: "\e9b1";
  }
  .icon-ornament-2:before {
    content: "\e9b2";
  }
  .icon-ornament-3:before {
    content: "\e9b3";
  }
  .icon-paper-trumpet:before {
    content: "\e9b4";
  }
  .icon-party-hat:before {
    content: "\e9b5";
  }
  .icon-pause-button:before {
    content: "\e9b6";
  }
  .icon-play-button:before {
    content: "\e9b7";
  }
  .icon-puppet:before {
    content: "\e9b8";
  }
  .icon-question-mark:before {
    content: "\e9b9";
  }
  .icon-serpentine:before {
    content: "\e9ba";
  }
  .icon-sound-speaker:before {
    content: "\e9bb";
  }
  .icon-sound:before {
    content: "\e9bc";
  }
  .icon-stage:before {
    content: "\e9bd";
  }
  .icon-star:before {
    content: "\e9be";
  }
  .icon-stars:before {
    content: "\e9bf";
  }
  .icon-stop-button:before {
    content: "\e9c0";
  }
  .icon-top-hat:before {
    content: "\e9c1";
  }
  .icon-vinyl-record:before {
    content: "\e9c2";
  }
  .icon-wine:before {
    content: "\e9c3";
  }
  .icon-alarm-clock:before {
    content: "\e900";
  }
  .icon-arrow-1:before {
    content: "\e901";
  }
  .icon-arrow-2:before {
    content: "\e902";
  }
  .icon-arrow-3:before {
    content: "\e903";
  }
  .icon-arrow-4:before {
    content: "\e904";
  }
  .icon-brain:before {
    content: "\e905";
  }
  .icon-brainstorm:before {
    content: "\e906";
  }
  .icon-camera:before {
    content: "\e907";
  }
  .icon-checkmark:before {
    content: "\e908";
  }
  .icon-clock1:before {
    content: "\e909";
  }
  .icon-cloud:before {
    content: "\e90a";
  }
  .icon-flower:before {
    content: "\e90b";
  }
  .icon-gears:before {
    content: "\e90c";
  }
  .icon-gift:before {
    content: "\e90d";
  }
  .icon-heart1:before {
    content: "\e90e";
  }
  .icon-lightbulb-off:before {
    content: "\e90f";
  }
  .icon-lightbulb-on:before {
    content: "\e910";
  }
  .icon-lightning:before {
    content: "\e911";
  }
  .icon-magic-wand:before {
    content: "\e912";
  }
  .icon-notebook:before {
    content: "\e913";
  }
  .icon-note-music:before {
    content: "\e914";
  }
  .icon-notes:before {
    content: "\e915";
  }
  .icon-pencil:before {
    content: "\e916";
  }
  .icon-picture:before {
    content: "\e917";
  }
  .icon-picture-2:before {
    content: "\e918";
  }
  .icon-puzzle-piece:before {
    content: "\e919";
  }
  .icon-questionmark:before {
    content: "\e91a";
  }
  .icon-ribbon-1:before {
    content: "\e91b";
  }
  .icon-ribbon-2:before {
    content: "\e91c";
  }
  .icon-ribbon-3:before {
    content: "\e91d";
  }
  .icon-rocket:before {
    content: "\e91e";
  }
  .icon-sience:before {
    content: "\e91f";
  }
  .icon-smile:before {
    content: "\e920";
  }
  .icon-smile-tooth:before {
    content: "\e921";
  }
  .icon-speach-bubble:before {
    content: "\e922";
  }
  .icon-star1:before {
    content: "\e923";
  }
  .icon-text:before {
    content: "\e924";
  }
  .icon-thought-bubble:before {
    content: "\e925";
  }
  .icon-thumbs-up:before {
    content: "\e926";
  }
  .icon-type:before {
    content: "\e927";
  }
  .icon-airbnb:before {
    content: "\e928";
  }
  .icon-amazon:before {
    content: "\e929";
  }
  .icon-android:before {
    content: "\e92a";
  }
  .icon-apple:before {
    content: "\e92b";
  }
  .icon-asana:before {
    content: "\e92c";
  }
  .icon-at:before {
    content: "\e92d";
  }
  .icon-band-camp:before {
    content: "\e92e";
  }
  .icon-behance:before {
    content: "\e92f";
  }
  .icon-bit-bucket:before {
    content: "\e930";
  }
  .icon-blackberry:before {
    content: "\e931";
  }
  .icon-blogger:before {
    content: "\e932";
  }
  .icon-booking:before {
    content: "\e933";
  }
  .icon-chat:before {
    content: "\e934";
  }
  .icon-codepen:before {
    content: "\e935";
  }
  .icon-deezer:before {
    content: "\e936";
  }
  .icon-delicious:before {
    content: "\e937";
  }
  .icon-desktop:before {
    content: "\e938";
  }
  .icon-deviant-art:before {
    content: "\e939";
  }
  .icon-digg:before {
    content: "\e93a";
  }
  .icon-discord:before {
    content: "\e93b";
  }
  .icon-douban:before {
    content: "\e93c";
  }
  .icon-dribbble:before {
    content: "\e93d";
  }
  .icon-dropbox:before {
    content: "\e93e";
  }
  .icon-ello:before {
    content: "\e93f";
  }
  .icon-envelope:before {
    content: "\e940";
  }
  .icon-Etsy:before {
    content: "\e941";
  }
  .icon-evernote:before {
    content: "\e942";
  }
  .icon-facebook:before {
    content: "\e943";
  }
  .icon-flickr:before {
    content: "\e944";
  }
  .icon-forsquare:before {
    content: "\e945";
  }
  .icon-github:before {
    content: "\e946";
  }
  .icon-globe:before {
    content: "\e947";
  }
  .icon-good-reads:before {
    content: "\e948";
  }
  .icon-google-play:before {
    content: "\e949";
  }
  .icon-google-scholar:before {
    content: "\e94a";
  }
  .icon-gumroad:before {
    content: "\e94b";
  }
  .icon-hangouts:before {
    content: "\e94c";
  }
  .icon-hashtag:before {
    content: "\e94d";
  }
  .icon-instagram:before {
    content: "\e94e";
  }
  .icon-itunes:before {
    content: "\e94f";
  }
  .icon-keek:before {
    content: "\e950";
  }
  .icon-kununu:before {
    content: "\e951";
  }
  .icon-lastfm:before {
    content: "\e952";
  }
  .icon-lifejournal:before {
    content: "\e953";
  }
  .icon-line:before {
    content: "\e954";
  }
  .icon-linked-in:before {
    content: "\e955";
  }
  .icon-map-marker:before {
    content: "\e956";
  }
  .icon-medium:before {
    content: "\e957";
  }
  .icon-messenger:before {
    content: "\e958";
  }
  .icon-mobile:before {
    content: "\e959";
  }
  .icon-myfitnesspal:before {
    content: "\e95a";
  }
  .icon-myspace:before {
    content: "\e95b";
  }
  .icon-odnoklassniki:before {
    content: "\e95c";
  }
  .icon-patreon:before {
    content: "\e95d";
  }
  .icon-peng-you:before {
    content: "\e95e";
  }
  .icon-periscope:before {
    content: "\e95f";
  }
  .icon-pheed:before {
    content: "\e960";
  }
  .icon-phone:before {
    content: "\e961";
  }
  .icon-picassa:before {
    content: "\e962";
  }
  .icon-pinterest:before {
    content: "\e963";
  }
  .icon-pocket:before {
    content: "\e964";
  }
  .icon-poshmark:before {
    content: "\e965";
  }
  .icon-print:before {
    content: "\e966";
  }
  .icon-qq:before {
    content: "\e967";
  }
  .icon-reddit:before {
    content: "\e968";
  }
  .icon-remind:before {
    content: "\e969";
  }
  .icon-renren:before {
    content: "\e96a";
  }
  .icon-rss:before {
    content: "\e96b";
  }
  .icon-share:before {
    content: "\e96c";
  }
  .icon-signal:before {
    content: "\e96d";
  }
  .icon-skillshare:before {
    content: "\e96e";
  }
  .icon-skype:before {
    content: "\e96f";
  }
  .icon-slack:before {
    content: "\e970";
  }
  .icon-slideshare:before {
    content: "\e971";
  }
  .icon-snap-chat:before {
    content: "\e972";
  }
  .icon-sound-cloud:before {
    content: "\e973";
  }
  .icon-spotify:before {
    content: "\e974";
  }
  .icon-stack-overflow:before {
    content: "\e975";
  }
  .icon-steam:before {
    content: "\e976";
  }
  .icon-stumble-upon:before {
    content: "\e977";
  }
  .icon-tablet:before {
    content: "\e978";
  }
  .icon-telegram:before {
    content: "\e979";
  }
  .icon-tiktok:before {
    content: "\e97a";
  }
  .icon-tookapic:before {
    content: "\e97b";
  }
  .icon-treehouse:before {
    content: "\e97c";
  }
  .icon-tumblr:before {
    content: "\e97d";
  }
  .icon-twitch:before {
    content: "\e97e";
  }
  .icon-twitter:before {
    content: "\e97f";
  }
  .icon-uber:before {
    content: "\e980";
  }
  .icon-unsplash:before {
    content: "\e981";
  }
  .icon-viadeo:before {
    content: "\e982";
  }
  .icon-viber:before {
    content: "\e983";
  }
  .icon-vimeo:before {
    content: "\e984";
  }
  .icon-vk:before {
    content: "\e985";
  }
  .icon-we-chat:before {
    content: "\e986";
  }
  .icon-we-heart-it:before {
    content: "\e987";
  }
  .icon-weibo:before {
    content: "\e988";
  }
  .icon-whatsapp:before {
    content: "\e989";
  }
  .icon-wordpress:before {
    content: "\e98a";
  }
  .icon-wunderlist:before {
    content: "\e98b";
  }
  .icon-xing:before {
    content: "\e98c";
  }
  .icon-yelp:before {
    content: "\e98d";
  }
  .icon-youtube:before {
    content: "\e98e";
  }